body {
    font-family: Arial, sans-serif;
    background-color: #9dc1f8;
  }
  
  .contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #819bf3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333333;
  }
  h6{
    color: rgb(78, 84, 90);
    margin-top: -10px;
    font-weight: 400;
  }
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2356fc;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  